<%= javascript_include_tag "pictures" %>


<h3>Step 2 of 2: Comment on a Picture</h3>
Picture Choices:
<div class='picture_choices'>
<% @picture.each_with_index do |pic, index| %>
	<% data = 'pic_'+index.to_s %>
	<%= image_tag pic.link.gsub(/_n./, '_s.'), class: 'thumb', data: {index: data} %>
<% end %>
</div>


<% @picture.each_with_index do |pic, index| %>
	<% data = 'pic_'+index.to_s %>
	<div class='picture_option' data-index='<%= data %>' >
		<%= image_tag pic.link, class: 'user_picture' %>	
		<%= form_tag :action => 'create' do %>
		<div class='chatbubble'>
			Leave a compliment:
			<%= text_area :comment, :comment_text, class: 'input_bubble' %>
		</div>
		<%= hidden_field :pic_id, :id, :value => pic.id %>
		<br />
		<%= submit_tag("Post", class: "button", style: 'margin-left: 10px;') %>
		<%end%>
		</div>		
<%end%>


