<!--

<h1>Listing users</h1>
<p id="notice"><%= flash[:notice] %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.id %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

-->

<% if current_user %>
<%= link_to "New Picture" ,:controller => 'pictures', :action => 'new' %> | <%= link_to "All Pictures" ,:controller => 'pictures', :action => 'index' %> |  <%= link_to "Comment on a Picture" ,:controller => 'comments', :action => 'new' %>
<% else %>
<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> Join the <%= @users.count %> other users using this app.
<% end %>
