<h3>Step 1 of 2: Rate A Comment</h3>
<div class='user_picture'>
<%= image_tag @picture.link, style: 'float: none' %>
<div class='caption'><%= @picture.caption %></div>
</div>

<div class='chatbubble'><%= @comment[0].comment_text %></div>

<div style='text-align: center; width: 328px; overflow: hidden;'>
<%= form_tag :action => 'create' do %>
	<%= hidden_field :rating, :is_positive, :value => true %>
	<%= hidden_field :com_id, :id, :value => @comment[0].id %>
	<%= submit_tag("Good", class: 'good_button') %>
<%end%>
<%= form_tag :action => 'create' do %>
	<%= hidden_field :rating, :is_positive, :value => false %>
	<%= hidden_field :com_id, :id, :value => @comment[0].id %>
	<%= submit_tag("Bad", class: 'bad_button') %>
<%end%>
</div>
<br />
<!--
<strong>Tip:</strong>
<p>What makes a compliment good?</p>
<ul>
	<li>Specific (Bad: <em>Looking good!</em> | Good: <em>Very pretty blue eyes!</em>)</li>
	<li>Constructive/Positive (Bad: <em>You look ugly</em> | Good: <em>I think you'd look even better if you got a haircut.</em>)</li>
</ul>

-->