<h1>New Picture</h1>

<%= form_for :picture, :url => {:action => 'create'} do |f| %>
	<%= f.text_field(:link) %>
	<%= submit_tag "Save Picture" %>
<% end %>

<%= link_to 'All Pictures', pictures_path %> | <%= link_to 'Home', :controller => 'users', :action => 'index' %>