
<% if @albums %>

<h3>Choose an Album</h1>

<ul id="pics">
<% @albums.each do |album| %>
    <% if (album["type"] == "normal" || album["type"] == "profile") %>
			<li class="album">				
					<a href='/pictures/new?album=<%= album["id"] %>'>
					<img src='https://graph.facebook.com/<%= album["cover_photo"] %>/picture?type=album&access_token=<%= current_user.oauth_token %>' />
					</a>
				<figcaption class="name">
					<a href='/pictures/new?album=<%= album["id"] %>'><%= album["name"] %>  <span class="count">(<%= album["count"] %>)</span>
					 </a>
				</figcaption>
			</li>
    <% end %>
<% end %>
</ul>
<% else %>

<h3>Choose a Picture</h1>

		<%= javascript_include_tag "pictures" %>

    <%= form_for :picture, :url => {:action => 'create'} do |f| %>
		<ul id="pics">
			<% @pictures.each do |pic| %>
				<li class='selectable'>
					<label>
					<%= radio_button_tag 'link', pic["source"] %>
					<img src='<%= pic["picture"] %>' /><br />
					</label>
				</li>
			<% end %>
		</ul>
		<br />
		
		<div class='toolbar'>
			<%= submit_tag "Choose Picture", class: 'button' %>&nbsp;&nbsp;&nbsp;
			<% if @pictures.previous_page_params %>
				<%= link_to 'Previous page', url_for(:page => @pictures.previous_page_params) %>
			<% elsif @pictures.next_page_params %>
				<%= link_to 'Next page', url_for(:page => @pictures.next_page_params) %>
			<% end %>
		</div>
				
		<br /><br /><br />
    <% end %>
<% end %>