<%= image_tag @picture.link, class: 'user_picture' %>

<div id='picture_comments'>
	
<% if @picture.comments_count == 0 %>
	Hey hot stuff, you have no compliments yet. Please check back later.
<% else %>

<% unless @comments.empty? %>

<% @comments.each do |comment| %>
    <div class='chatbubble'><%= comment.comment_text %></div>
<% end %>

<% end %>

<% if @picture.unredeemed_count > 0 && @user.tokens > 0%>
<%= form_tag :action => 'retrieve' do %>
	<%= hidden_field :pic_id, :id, :value => @picture.id %>
	<%= submit_tag("Redeem Comment") %>
<%end%>
<%end%>
<br />
You have <%= @picture.unredeemed_count %> unredeemed comments and <%= @user.tokens %> tokens

<% end %>

</div>