<div class='user_picture'>
	<%= image_tag @picture.link %>
	<div class='caption'><span class='editable'><%= @picture.caption %></span></div>	
</div>

<div id='picture_comments'>	
	
<% if @picture.comments_count == 0 %>
	<span class='none'>Hey hot stuff, you have no compliments yet. Please check back later.</span>
<% else %>

<% unless @comments.empty? %>

<% @comments.each do |comment| %>
    <div class='chatbubble'><%= comment.comment_text %></div>
<% end %>

<% end %>

<% if @picture.unredeemed_count > 0 && @user.tokens > 0%>
<%= form_tag :action => 'retrieve' do %>
	<%= hidden_field :pic_id, :id, :value => @picture.id %>
	<%= submit_tag("Redeem Comment", class: 'button') %>
<%end%>
<%end%>
<br />
You have <%= @picture.unredeemed_count %> unredeemed comments and <%= @user.tokens %> tokens

<% end %>

<br />

<div id='hidden_form' style='display:none;'>
<%= form_tag :action => "caption" do %>
	<%= hidden_field :pic_id, :id, :value => @picture.id %>
	<%= text_area :caption, :caption_text, id: "caption_val" %>
<%end%>
<div>

<script>

$(function() {
	$('.editable').inlineEdit({
		buttonText: 'Save',
		control: 'textarea',
		save: function(e, data) {
			$('#hidden_form').find('#caption_val').val(data.value);
			$('#hidden_form').find('form').submit();
		}
	});
});

</script>

</div>